@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.loading-content {
    width: 60%; /* Set the width to 100% of the viewport */
    height: 60%; /* Set the height to 100% of the viewport */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Set the embedded GIF to cover the entire screen */
.loading-content iframe {
    width: 100vw; /* 100% of the viewport width */
    height: 100vh; /* 100% of the viewport height */
}


.jumbotron {
    background-color: rgb(43, 107, 98) !important;
}

h1 {
    color: #c9899d;
    font-family: "Comfortaa", cursive;
}

h2 {
    color: #eba374;
    font-family: "Comfortaa", cursive;
    text-align: center;
}

h3 {
    color: #78c5bc;
    font-family: "Comfortaa", cursive;
}

.container {
    max-width: 1280px;
    align-items: center;
  }


#info-bar {
    align-content: center;
}



.filter-bar {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 30px;
    padding: 15px;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    font-family: "Comfortaa", cursive;
    font-size: 18px;
    margin-bottom: 20px;
}

.dropdown {
    color: #78c5bc;
    margin-right: 8px;
    align-items: bottom;
    font-family: "Comfortaa", cursive;
}

.dropdown select{
    border-radius:30px;
    /* display:inline-block; */
    margin-top: 12px;
    background:#cccccc;
    border:1px solid #cccccc;
    align-items: center;
    font-size: 16px;
}

#search-button {
    border-radius:36px;
    height: 25px;
    width: 100px;
    display:inline-block;
    overflow:hidden;
    background:#cccccc;
    border:1px solid #cccccc;
    vertical-align: top;
    padding: 0;
    font-size: 16px;
  }

#pagination button{
    border-radius: 5px;
    border: 1px solid #ccc;
    background:rgb(43, 107, 98);
    color: #eba374;
}

.fact-panel {
    color: #78c5bc;
    border: 1px solid #ccc;
    border-radius: 30px;
    padding: 10px;
    box-sizing: border-box;
    font-family: "Comfortaa", cursive;
    margin-right: 5px;
    margin-bottom: 10px;
}

.graphs {
    width: 100%;
    padding: 10 px;
}

#fact-content {
    padding: 10px;
    color: #eba374;
}
#fact-content li {
    margin-bottom: 10px; /* Add space between each bullet point */
}
#fact-content u {
    color: #c9899d;; /* Change the color of underlined text */
}
#fact-content b {
    color: #c9899d;; /* Change the color of bold text */
}

.social-media {
    box-sizing: border-box;
    margin-top: 30px;
    margin-bottom: 30px;
    color:#519be6;
    font-family: "Comfortaa", cursive;
    font-size:22px;
    text-align: center;
    height: 150px;
    width: 100%;
    padding: 20px;
}

.social-media-icons img{
    margin-top: 20px;
    width: 70px;
    height: 70px;
}

#adopt-here {
    color: #519be6;
    font-family: "Comfortaa", cursive;
    font-size: 22px;
    text-align: center;
    width: 100%;
    height: 200px;
    float: left;
}
.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 100px;
    float: left;
}

.left-column {
    float: left;
    box-sizing: border-box;
    border-radius: 38px;
    width: 44%;
}


#adopt-here a {
    display: block;
}

#results {
    color: #78c5bc;
    border: 1px solid #ccc;
    border-radius: 30px;
    padding: 10px;
    width: 56%; /* Adjust the width as needed */
    float: right;
    box-sizing: border-box;
    font-family: "Comfortaa", cursive;
}

.result-box {
    display: flex;
    align-items: left;
    padding: 10px;
    border: 2px solid #eba374;
    border-radius: 30px;
    margin: 10px 0;
}

.image-section {
    flex: none; /* Don't allow the image section to grow */
    width: 375px;
    max-height: 300px;
    padding: 10px;
}

.image-section img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
}

.facts-section {
    flex: 1;
    padding: 10px;
}

.facts-section p{
    margin: 0.2em 0; 
}

.data-visualizations-link {
    display: block; /* Make the link a block element to center the text */
    text-align: center; /* Center the text within the block */
    font-size: 24px; /* Set the font size to 24px */
    color: #c9899d; /* Set the color to the specified value */
}



@media (max-width: 768px) {
    /* Reset container's max-width for full-width layout */
    .container {
        display: flex;
        flex-wrap: wrap;
    }

    .jumbotron {
        text-align: center;
        order: 1;
    }
  
    /* Stack sections according to the specified order */


    #info-bar {
        order: 2;
        text-align: center;
        width: 100%;
    }


    .filter-bar {
        flex-direction: column;
        order: 3;
        width: 100%;
    }


    #search-button {
        width: 50%;
        margin-top: 10px;
    }

    #results {
        order: 4; /* Keep Results as it is */
        width: 100%;
        margin: 10px 0;
    }

    .result-box {
        display: flex;
        flex-wrap: wrap;
    }

    .image-section {
        width: 100%;
        height: 100%;
        padding: 10px;
        order: 1; /* Change order to stack image-section above facts-section */
    }
    .facts-section {
        display: block;
        flex: none;
        width: 100%;
        height: 100%;
        padding: 10px;
        order: 2; /* Change order to stack image-section above facts-section */
    }

    .left-column {
        order: 5; /* Keep Left column as it is */
        width: 100%;
        margin: 10px 0;
        display: flex;
        flex-wrap: wrap;
    }

    .sticky {
        order: 1;
        width: 100%;
        position: static;
    }

    #adopt-here {
        text-align: center;
        width: 100%;
    }

    .fact-panel {
        order: 2;
    }

    .graphs {
        width: 100%;
    }

    .social-media {
        order: 3; /* Move social media after Jumbotron */
    }

    /* Modify pagination button styles for better display */
    #pagination button {
        width: auto;
        margin: 5px;
    }

    /* Adjust spacing for fact-content elements */
    #fact-content li,
    #fact-content p {
        margin-bottom: 5px;
    }
}



  

