#selection-bar {
    display: flex;
    flex-direction: column; /* Arrange items vertically */
    border: 1px solid #ccc;
    border-radius: 30px;
    padding: 15px;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    font-family: "Comfortaa", cursive;
    font-size: 18px;
}

#selection-bar button {
    border: 1px solid #ccc;
    border-radius: 10px;
    justify-content: center;
    box-sizing: border-box;
    margin: 5px;
}

#selection-bar2 {
    display: flex;
    flex-direction: column; 
    border: 1px solid #ccc;
    border-radius: 30px;
    padding: 15px;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    font-family: "Comfortaa", cursive;
    font-size: 18px;
    width: 100%;
    margin: 15px;
}

#selection-bar2 select{
    margin: 10px;
    border-radius: 8px;
}

#selection-bar2 label{
    color: #78c5bc;
}

#selection-bar2 button{
    border: 1px solid #ccc;
    border-radius: 10px;
    justify-content: center;
    box-sizing: border-box;
    margin: 5px;
}

#reset-section {
    display: flex;
    flex-direction: row; 
    border-radius: 30px;
    padding: 15px;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    font-family: "Comfortaa", cursive;
    font-size: 18px;
    margin: 15px;
}

#reset-section button{
    border: 1px solid #ccc;
    border-radius: 10px;
    justify-content: center;
    box-sizing: border-box;
    margin: 5px;
}

.social-media2 {
    box-sizing: border-box;
    color:#519be6;
    font-family: "Comfortaa", cursive;
    font-size:22px;
    text-align: center;
    height: 150px;
    width: 40%;
    padding-top: 20px;
    box-sizing: border-box;
}
.social-media-icons2 img{
    width: 50px;
    height: 50px;
}
.glide.glide--ltr.glide--carousel.glide--swipeable {
    padding-top: 5px;
}

#socials-and-links {
    display: flex;
    flex-direction: row; 
    border-radius: 30px;
    padding: 15px;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    font-family: "Comfortaa", cursive;
    color: #c9899d;
}

#adopt-here2 {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
}

#adopt-here2 p{
    font-size: 70;
}

#adopt-here2 img{
    margin-top: -20px;
    overflow: hidden;
}

@media (max-width: 768px) {
    .container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .jumbotron {
        order: 1;
    }

    #selection-bar {
        order: 2;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #selection-bar2 {
        order: 3;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #graph-section {
        order: 4;
    }

    #reset-section {
        order: 5;
    }

    #socials-and-links {
        order: 6;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .social-media2 {
        order: 2;
        width: 100%;
        height: 100%;
    }

}