@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

h1 {
    color: #c9899d;
    font-family: "Comfortaa", cursive;
}

h2 {
    color: #eba374;
    font-family: "Comfortaa", cursive;
    text-align: center;
}

.filter-bar {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 30px;
    padding: 15px;
    align-content: center;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    font-family: "Comfortaa", cursive;
    font-size: 18px;
    margin-bottom: 20px;
}

#search-button {
    border-radius:36px;
    height: 25px;
    width: 100px;
    display:inline-block;
    overflow:hidden;
    background:#cccccc;
    border:1px solid #cccccc;
    vertical-align: top;
    padding: 0;
    font-size: 16px;
  }

#pagination button{
    border-radius: 5px;
    border: 1px solid #ccc;
    background:rgb(43, 107, 98);
    color: #eba374;
}

.dropdown {
    color: #78c5bc;
    margin-right: 8px;
    align-items: bottom;
    font-family: "Comfortaa", cursive;
}

.dropdown select{
    border-radius:30px;
    /* display:inline-block; */
    margin-top: 12px;
    background:#cccccc;
    border:1px solid #cccccc;
    align-items: center;
    font-size: 16px;
}

.fact-panel {
    color: #78c5bc;
    border: 1px solid #ccc;
    border-radius: 30px;
    padding: 10px;
     /* Adjust the width as needed */
    box-sizing: border-box;
    font-family: "Comfortaa", cursive;
    margin-right: 5px;
    margin-bottom: 10px;
}

#fact-content {
    padding: 10px;
    color: #eba374;
}
#fact-content li {
    margin-bottom: 10px; /* Add space between each bullet point */
}
#fact-content u {
    color: #c9899d;; /* Change the color of underlined text */
}
#fact-content b {
    color: #c9899d;; /* Change the color of bold text */
}

.social-media {
    box-sizing: border-box;
    margin-top: 50px;
    color:#519be6;
    font-family: "Comfortaa", cursive;
    font-size:22px;
    text-align: center;
    width: 400px;
    height: 150px;
    float: center;
}

#adopt-here {
    color: #519be6;
    font-family: "Comfortaa", cursive;
    font-size: 22px;
    text-align: center;
    width: 400px;
    height: 200px;
    float: left;
}
.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 100px;
    float: left;
}

.left-column {
    float: left;
    box-sizing: border-box;
    border-radius: 38px;
    width: 44%;
}


#adopt-here a {
    display: block;
}

#results {
    color: #78c5bc;
    border: 1px solid #ccc;
    border-radius: 30px;
    padding: 10px;
    width: 56%; /* Adjust the width as needed */
    float: right;
    box-sizing: border-box;
    font-family: "Comfortaa", cursive;
}


.result-box {
    display: flex;
    align-items: left;
    padding: 10px;
    border: 2px solid #eba374;
    border-radius: 30px;
    margin: 10px 0;
}

#container {
    margin-bottom: 8px;
  }

.image-section {
    flex: none; /* Don't allow the image section to grow */
    width: 375px;
    max-height: 300px;
    padding: 10px;
}

.image-section img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
}

.facts-section {
    flex: 1;
    padding: 10px;
}

.facts-section p{
    margin: 0.5em 0; 
}

.jumbotron {
    background-color: rgb(43, 107, 98) !important;
}

h3 {
    color: #78c5bc;
    font-family: "Comfortaa", cursive;
}



.container {
    max-width: 1280px;
    align-items: center;
  }

#info-bar {
    align-content: center;
}



  

