<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PetPal Match</title>
    <link rel="stylesheet" href="./static/css/style.css">
    <link rel="stylesheet" href="./static/css/glide.core.min.css">
    <link rel="stylesheet" href="./static/css/glide.theme.min.css">
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>

</head>
<body style ='background:rgb(43, 107, 98)'>
    <div class="loading-overlay">
        <div class="loading-content">
           <iframe src="https://giphy.com/embed/TvLuZ00OIADoQ" frameBorder="0" allowFullScreen></iframe>
           <p><a href="https://giphy.com/gifs/TvLuZ00OIADoQ">via GIPHY</a></p>
        </div>
     </div>
    
    <div class="container">
        <div class="jumbotron text-center">
            <h1>PetPal Match: Connecting Hearts and Paws</h1>
            <h2>Animal Services & Adoption Center</h2><br>
            <h3>Montgomery County, Maryland</h3>
        </div>
    
        <div id="info-bar">
            <h2>What are you looking for in a pet?</h2>
        </div>
        
        <div class="filter-bar">
            <div class="dropdown">
                <label for="intake-type">Intake Type:</label>
                <select id="intake-type">
                    <option value="">Select Option</option>
                    <!-- Add intake type options here -->
                </select>
            </div>
            <div class="dropdown">
                <label for="pet-type">Pet Type:</label>
                <select id="pet-type">
                    <option value="">Select Option</option>
                    <!-- Add pet type options here -->
                </select>
            </div>
            <div class="dropdown">
                <label for="size">Size:</label>
                <select id="size">
                    <option value="">Select Option</option>
                    <!-- Add size options here -->
                </select>
            </div>
            <div class="dropdown">
                <label for="sex">Sex:</label>
                <select id="sex">
                    <option value="">Select Option</option>
                    <!-- Add sex options here -->
                </select>
            </div>
            <button id="search-button" onclick="performSearch()">Search</button>
            
        </div>
        <div class="left-column">
            <div class="fact-panel">
                <h3>Did you know?</h3>
                <div class="graphs">
                    <div id="fact-content"></div>
                    <div id="piechart"></div>
                    <div id="barchart-container"></div>
                    <div id="donutchart-container"></div>
                </div>
                <p><a href="/data_visualization" class="data-visualizations-link" target="_blank">Do you like data?</a></p>
            </div>
            <div class = "social-media">
                <strong>Follow Us!&nbsp;</strong><br>
                </span> </span>
                <div class="glide">
                        <div class="glide__track" data-glide-el="track">
                            <ul class="glide__slides">
                                <div class="glide__slide">
                                    <a class="social-media-icons" href="http://facebook.com/mcasac" target="_blank"> 
                                        <img alt="Facebook" src="https://cdn2.iconfinder.com/data/icons/social-media-2285/512/1_Facebook_colored_svg_copy-512.png"> 
                                    </a> 
                                </div>
                                <div class="glide__slide">
                                    <a class="social-media-icons" href="http://instagram.com/mcasac" target="_blank"> 
                                        <img alt="Instagram" src="https://cdn2.iconfinder.com/data/icons/social-media-2285/512/1_Instagram_colored_svg_1-512.png"> 
                                    </a>
                                </div>
                                <div class="glide__slide">
                                    <a class="social-media-icons" href="https://twitter.com/mcasac" target="_blank"> 
                                        <img alt="Twitter" src="https://cdn2.iconfinder.com/data/icons/social-media-2285/512/1_Twitter_colored_svg-512.png">
                                    </a>
                                </div>
                                <div class="glide__slide">
                                    <a  class="social-media-icons" href="https://www.youtube.com/@MoCoAnimalServices" target="_blank"> 
                                        <img alt="Youtube" src="https://cdn2.iconfinder.com/data/icons/social-media-2285/512/1_Youtube_colored_svg-512.png">
                                    </a>
                                </div>
                                <div class="glide__slide">
                                    <a class="social-media-icons" href="https://www.tiktok.com/@mocoanimalservices?" target="_blank"> 
                                        <img alt="TikTok" src="https://cdn4.iconfinder.com/data/icons/social-media-flat-7/64/Social-media_Tiktok-256.png">
                                    </a>
                                </div>
                            </ul>
                        </div>
                    </div>
                <script>
                    const config = {
                        type: 'carousel',
                        autoplay: 2000,
                        hoverpause: true,
                        perView: 5
                    }
                    new Glide('.glide', config).mount()
                </script>       
            </div>
            <div id = "adopt-here" class="sticky">
                <h2>Ready to adopt?</h2>
                <a href="https://www.montgomerycountymd.gov/animalservices/adoption/howtoadopt.html" target="_blank"> 
                    <img alt="adopt" src="https://cdn3.iconfinder.com/data/icons/selection-and-cursors-23/48/click_pointer_click_here_mouse_clicker-512.png" style="width: 100px; height: 100px;"> </a> 
            </div>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.sticky/1.0.4/jquery.sticky.min.js"></script>
            <script>
                $(document).ready(function() {
                    if ($(window).width() > 768) {
                        $("#adopt-here").sticky({ topSpacing: 500 });
                    }
                });
            </script>
        </div>
        <div id="results">
            <p id="results-count"></p>
            <div id = "result-list"> </div>
            <div id="pagination"></div>
        </div>
        <script src="https://d3js.org/d3.v7.min.js"></script>
        <script src="./static/js/script.js"></script>
        <script src="./static/js/graphs.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
    </div>   
    <script>
        // This function hides the loading screen after a delay (e.g., 2 seconds)
        function hideLoadingScreen() {
           document.querySelector('.loading-overlay').style.display = 'none';
        }
  
        // Call the hideLoadingScreen function after a delay
        setTimeout(hideLoadingScreen, 2000); // 2000 milliseconds = 2 seconds
     </script>
</body>
</html>
