<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PetPal Match</title>
    <link rel="stylesheet" href="./static/css/style.css">
    <link rel="stylesheet" href="./static/css/glide.core.min.css">
    <link rel="stylesheet" href="./static/css/glide.theme.min.css">
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>

</head>
<body style ='background:rgb(43, 107, 98)'>
    
    <div class="container">
        <div class="jumbotron text-center">
            <h1>PetPal Match: Connecting Hearts and Paws</h1>
            <h2>Animal Services & Adoption Center</h2><br>
            <h3>Montgomery County, Maryland</h3>
        </div>
    
        <div id="info-bar">
            <h2>What are you looking for in a pet?</h2>
        </div>
        
        <div class="filter-bar">
            <div class="dropdown">
                <label for="intake-type">Intake Type:</label>
                <select id="intake-type">
                    <option value="">Select Option</option>
                    <!-- Add intake type options here -->
                </select>
            </div>
            <div class="dropdown">
                <label for="pet-type">Pet Type:</label>
                <select id="pet-type">
                    <option value="">Select Option</option>
                    <!-- Add pet type options here -->
                </select>
            </div>
            <div class="dropdown">
                <label for="size">Size:</label>
                <select id="size">
                    <option value="">Select Option</option>
                    <!-- Add size options here -->
                </select>
            </div>
            <div class="dropdown">
                <label for="sex">Sex:</label>
                <select id="sex">
                    <option value="">Select Option</option>
                    <!-- Add sex options here -->
                </select>
            </div>
            <button id="search-button" onclick="performSearch()">Search</button>
            
        </div>
        <div class="left-column">
            <div class="fact-panel">
                <h3>Did you know?</h3>
                <div id="fact-content"></div>
                <div id="piechart"></div>
                <div id="barchart-container"></div>
                <div id="donutchart-container"></div>
                <!-- <div class="glide">
                    <div class="glide__track" data-glide-el="track">
                    <ul class="glide__slides">
                        <div class="glide__slide">
                            <div id="piechart"></div>
                        </div>
                        <div class="glide__slide">
                            <div id="barchart-container"></div>
                        </div>
                        <div class="glide__slide">
                            <div id="donutchart-container"></div>
                        </div>
                    </ul>
                    </div>
                    <div class="glide__arrows" data-glide-el="controls">
                        <button class="glide__arrow glide__arrow--left" data-glide-dir="<"><</button>
                        <button class="glide__arrow glide__arrow--right" data-glide-dir=">">></button>
                    </div>
                </div>
                <script>
                    const config = {
                        type: 'carousel',
                        // autoplay: 5000,
                        hoverpause: true
                    }
                    new Glide('.glide', config).mount()
                </script> -->
            </div>
            <div class = "social-media">
                <strong>Follow Us!&nbsp;</strong><br>
                </span> </span> 
                <a href="http://facebook.com/mcasac"> 
                    <img alt="Facebook" src="https://cdn2.iconfinder.com/data/icons/social-media-2285/512/1_Facebook_colored_svg_copy-512.png" style="width: 50px; height: 50px;"> </a> 
                <a href="http://instagram.com/mcasac"> 
                    <img alt="Instagram" src="https://cdn2.iconfinder.com/data/icons/social-media-2285/512/1_Instagram_colored_svg_1-512.png" style="width: 50px; height: 50px;"> </a>
                <a href="https://twitter.com/mcasac"> 
                    <img alt="Twitter" src="https://cdn2.iconfinder.com/data/icons/social-media-2285/512/1_Twitter_colored_svg-512.png" style="width: 50px; height: 50px;"> </a> 
                <a href="https://www.youtube.com/@MoCoAnimalServices" target="_blank"> 
                    <img alt="" src="https://cdn2.iconfinder.com/data/icons/social-media-2285/512/1_Youtube_colored_svg-512.png" style="width: 50px; height: 50px;"> </a>
                <a href="https://www.tiktok.com/@mocoanimalservices?"> 
                    <img alt="" src="https://cdn4.iconfinder.com/data/icons/social-media-flat-7/64/Social-media_Tiktok-256.png" style="width: 50px; height: 50px;"> </a>
            </div>
            <div id = "adopt-here" class="sticky">
                <h2>Ready to adopt?</h2>
                <a href="https://www.montgomerycountymd.gov/animalservices/adoption/howtoadopt.html"> 
                    <img alt="adopt" src="https://cdn3.iconfinder.com/data/icons/selection-and-cursors-23/48/click_pointer_click_here_mouse_clicker-512.png" style="width: 100px; height: 100px;"> </a> 
            </div>
                        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.sticky/1.0.4/jquery.sticky.min.js"></script>
            <script>
                $(document).ready(function() {
                    $("#adopt-here").sticky({ topSpacing: 500 });
                });
            </script>
        </div>
        <div id="results">
            <p id="results-count"></p>
            <div id = "result-list"> </div>
            <div id="pagination"></div>
        </div>
        <script src="https://d3js.org/d3.v7.min.js"></script>
        <script src="./static/js/script.js"></script>
        <script src="./static/js/graphs.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>

    </div>   




    



</body>
</html>
